body{
	background: #CCCCCC;
}

h1{
	text-align: center;
}

#banner{
	width:50%;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

.ingredientes{
	font-style: italic;
}

h2{
	text-align: center;
	text-transform: uppercase;
}

.Preparo{
	font-style: italic;
}